<a href="https://colab.research.google.com/github/Kekkles1/BI-Colab/blob/fatima/BI%20Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1) Understanding the Data

**Business Understanding:**
The business has two hotels: Resort Hotel and City Hotel. The main business process is booking the hotels. From a business perspective, the hotel wants to maximize its bookings to maximize revenue. From a BI perspective, we want to understand

The data provides key metrics regarding customers, booking patterns. For the customers category, there is data regarding their age, location and market segmentation. This will allow a deep profile of the customers to be built. For booking patterns, we can observe the lead_time, cancellation tendencies, room types and so forth.

**Problem Statement:**
How many customers is the business retaining? What are the types of customers they're retaining (demographic, room-bookings). How can the business improve its retention rate?

**Queries:**
what gets u most customers (which distribution channel). Use market segment as proof.
Find the number of repeat guests

**Columns to Delete**
arrival_date columns, required_car_parking_spaces

**Dimensions and Facts Within the Data**

**Dimensions:**
*   Hotel
*   Is Cancelled
*   Arrival dates
*   Meal
*   Country
*   Market Segment
*   Distribution Channel
*   Reserved Room Type
*   Assigned Room Type
*   Is Repeated Guest
*   Previous Cancellations
*   Company
*   Agent
*   Deposit Type
*   Customer Type
*   Reservation Status


**Facts:**


*   Lead Time
*   Stays in weekends & nights
*   Adults
*   Children
*   Babies
*   Booking Changes
*   Days in Waiting List
*   ADR
*   Required car parking spaces
*   Total of special requests

**Important Facts and Dimensions**

The important facts are: ADR, Adults, Children, Babies and Lead Time.

The important dimensions are: Hotel, Country, Customer Type, Is Repeated Guest, Market Segment, Distribution Channel and Arrival Dates (Time).

**Proof**
Yes, the Is Repeated Guest column can solve our given problem statement as we can use it to figure out how many of the hotels customers are new or repeat guests.

# Descriptive Statistics

In [1]:
#importing the basic libraries
import pandas as pd
import numpy as np
import seaborn as sns
%matplotlib inline
import matplotlib.pyplot as plt

In [2]:
import warnings

# Suppress future warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

In [3]:
#read the CSV file
df = pd.read_csv("hotel_bookings_dirty.csv")

In [4]:
df.head()

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0.0,342.0,2015.0,July,NaN,1.0,0.0,0.0,2.0,...,No Deposit,NaN,NaN,0.0,Transient,0.0,0.0,0.0,Check-Out,01/07/2015
1,Resort Hotel,0.0,737.0,2015.0,July,NaN,1.0,0.0,0.0,2.0,...,No Deposit,NaN,NaN,NaN,Transient,0.0,0.0,0.0,Check-Out,07/01/2015
2,Resort Hotel,0.0,7.0,2015.0,July,NaN,1.0,0.0,1.0,1.0,...,No Deposit,NaN,NaN,0.0,Transient,75.0,0.0,0.0,Check-Out,02/07/2015
3,Resort Hotel,0.0,13.0,2015.0,July,NaN,1.0,0.0,1.0,1.0,...,No Deposit,304.0,NaN,0.0,Transient,75.0,0.0,0.0,Check-Out,02/07/2015
4,Resort Hotel,0.0,14.0,2015.0,July,NaN,1.0,0.0,2.0,2.0,...,No Deposit,240.0,NaN,NaN,Transient,98.0,0.0,1.0,Check-Out,03/07/2015

In [5]:
df.shape

(119390, 32)

# **Numerical Data Univariate Analysis**

Lead Time

In [23]:
df['lead_time'].describe()

count    111018.000000
mean        104.114801
std         106.808051
min           0.000000
25%          18.000000
50%          69.000000
75%         160.000000
max         737.000000
Name: lead_time, dtype: float64

In [24]:
print("Median: ", df['lead_time'].median())

Median:  69.0

Stays in Weekends Nights

In [15]:
df['stays_in_weekend_nights'].describe()

count    119377.000000
mean          0.927624
std           0.998636
min           0.000000
25%           0.000000
50%           1.000000
75%           2.000000
max          19.000000
Name: stays_in_weekend_nights, dtype: float64

In [25]:
print("Median: ", df['stays_in_weekend_nights'].median())

Median:  1.0

Stays in Week Nights

In [16]:
df['stays_in_week_nights'].describe()

count    119375.000000
mean          2.500323
std           1.908340
min           0.000000
25%           1.000000
50%           2.000000
75%           3.000000
max          50.000000
Name: stays_in_week_nights, dtype: float64

In [26]:
print("Median: ", df['stays_in_week_nights'].median())

Median:  2.0

Adults

In [7]:
df['adults'].describe()

count    107437.000000
mean          1.856521
std           0.565173
min           0.000000
25%           2.000000
50%           2.000000
75%           2.000000
max          50.000000
Name: adults, dtype: float64

In [27]:
print("Median: ", df['adults'].median())

Median:  2.0

Children

In [8]:
df['children'].describe()

count    111016.000000
mean          0.103778
std           0.398386
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max          10.000000
Name: children, dtype: float64

In [28]:
print("Median: ", df['children'].median())

Median:  0.0

Babies

In [9]:
df['babies'].describe()

count    119375.000000
mean          0.007950
std           0.097442
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max          10.000000
Name: babies, dtype: float64

In [29]:
print("Median: ", df['babies'].median())

Median:  0.0

Booking Changes

In [10]:
df['booking_changes'].describe()

count    95503.000000
mean         0.221124
std          0.652867
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max         21.000000
Name: booking_changes, dtype: float64

In [30]:
print("Median: ", df['booking_changes'].median())

Median:  0.0

Days in Waiting List

In [11]:
df['days_in_waiting_list'].describe()

count    29847.000000
mean         2.215901
std         17.009015
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        391.000000
Name: days_in_waiting_list, dtype: float64

In [31]:
print("Median: ", df['days_in_waiting_list'].median())

Median:  0.0

ADR

In [12]:
df['adr'].describe()

count    119377.000000
mean        101.830816
std          50.537010
min          -6.380000
25%          69.250000
50%          94.590000
75%         126.000000
max        5400.000000
Name: adr, dtype: float64

In [32]:
print("Median: ", df['adr'].median())

Median:  94.59

Required Car Parking Spaces

In [13]:
df['required_car_parking_spaces'].describe()

count    119374.000000
mean          0.062526
std           0.245307
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           8.000000
Name: required_car_parking_spaces, dtype: float64

In [33]:
print("Median: ", df['required_car_parking_spaces'].median())

Median:  0.0

Total of Special Requests

In [19]:
df['total_of_special_requests'].describe()

count    119373.000000
mean          0.571385
std           0.792820
min           0.000000
25%           0.000000
50%           0.000000
75%           1.000000
max           5.000000
Name: total_of_special_requests, dtype: float64

In [20]:
print("Median: ", df['total_of_special_requests'].median())

Median:  0.0